/* Import statements */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

/* ------ Global style */
body {
    background-color: #ffff;
    font-family: 'Montserrat', sans-serif;
    color: #3B3B3F;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
    color: #00843D;
    margin-bottom: 0em;
}

h2 {
    font-size: 2rem;
    color: #00843D;
}

ul {
    text-align: left;
    line-height: 1.5rem;
    padding: 0rem 1rem 0 4.5rem;
    list-style-type: none;
}

ul li:before {
    font-family: 'FontAwesome';
    content: '\f058';
    padding-right: 1rem;
    color: #00843D;
    display: inline-block;
}

ul li ul li::before {
    content: '\f0a9';
    padding-right: 0.5rem;
}

.bold {
    font-weight: bold;
}

/* ------ Hyperlinks */
a {
    text-decoration: none;
    font-size: 0.75rem;
    color: #3B3B3F80;
}

a:hover {
    color: #00843D;
}

button {
    border-width: 1px;
    border-color: #3B3B3F80;
}

button:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/* ------ Logo */
.logo {
    height: 7em;
    padding: 1em 0;
}

/* ------ Game area */
#game-area {
    background-color: #00843D0D;
    box-sizing: border-box;
    width: 85%;
    height: 75vh;
    max-height: 480px;
    max-width: 1024px;
    padding: 1rem;
    margin: 0 auto;
    /* display: none; */
}

#game-area h2 {
    color: #000;
    font-size: 1.5rem;
}

.amount-area {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.amount-area p {
    margin-bottom: 0px;
}

/* ------ betAmount Buttons */
.btn--bet {
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    border: 0px;
}

.btn--add {
    color: #00008B;
}

.btn--add:hover {
    background-color: #00008B;
    color: #fff;
}

.btn--minus {
    color: #FF0000;
}

.btn--minus:hover {
    background-color: #FF0000;
    color: #fff;
}

.amount-area input {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    background-color: inherit;
    border: none;
    width: 6rem;
}

/* Hide the up/down arrows styling on input fields */

/* ------ betType Buttons */

/* ------ Pseudo Selector for coins */

/* ------ Spin Button */

/* ------ Scores area */

/* ------ Footer */
footer {
    margin: 1rem 0;
    color: #00843D80;
}

footer > button {
    background: none;
    border: none;
    text-decoration: none;
    color: #3B3B3F80;
    font-weight: inherit;
}

footer > button:hover {
    color: #00843D80;
}

/* ------ Global style for 'popUps' (Modals) */

/* ------------ Modal specific styles */
/* ------ Winner Alert Modal Css */

/* ------ Kev Wins Alert Modal */

/* ------ Game Over Modal */

/* ------ Game Win Final Modal */

/* ------ Bank Empty Modal */

/* ------ Gameplay Modal */



/* ------------ Betting Coin Animations  */
/* ------ Global coin Animation & Styling */

/* ------ HH & TT Left coin ANIMATION  */

/* ------ HH & TT Right coin ANIMATION */

/* ------ HH & TT Left Coin Spin STYLING */

/* ------ HH & TT Right Coin Spin STYLING */


/* ------ HT Left coin ANIMATION  */

/* ------ HT Right coin ANIMATION  */

/* ------ HT Left Coin Spin STYLING */

/* ------ HT Right Coin Spin STYLING */


/* ------ Error message Styling */

/* ------ Hide spin choice section */

/* ------ Media Queries */