/* Import statements */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

/* ------ Global style */
body {
    background-color: #ffff;
    font-family: 'Montserrat', sans-serif;
    color: #3B3B3F;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
    color: #00843D;
    margin-bottom: 0em;
}

h2 {
    font-size: 2rem;
    color: #00843D;
}

ul {
    text-align: left;
    line-height: 1.5rem;
    padding: 0rem 1rem 0 4.5rem;
    list-style-type: none;
}

ul li:before {
    font-family: 'FontAwesome';
    content: '\f058';
    padding-right: 1rem;
    color: #00843D;
    display: inline-block;
}

ul li ul li::before {
    content: '\f0a9';
    padding-right: 0.5rem;
}

.bold {
    font-weight: bold;
}

/* ------ Hyperlinks */
a {
    text-decoration: none;
    font-size: 0.75rem;
    color: #3B3B3F80;
}

a:hover {
    color: #00843D;
}

button {
    border-width: 1px;
    border-color: #3B3B3F80;
}

button:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/* ------ Logo */
.logo {
    height: 7em;
    padding: 1em 0;
}

/* ------ Game area */
#game-area {
    background-color: #00843D0D;
    box-sizing: border-box;
    width: 85%;
    height: 75vh;
    max-height: 480px;
    max-width: 1024px;
    padding: 1rem;
    margin: 0 auto;
    display: block;
}

#game-area h2 {
    color: #000;
    font-size: 1.5rem;
}

.amount-area {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.amount-area p {
    margin-bottom: 0px;
}

/* ------ betAmount Buttons */
.btn--bet {
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    border: 0px;
}

.btn--add {
    color: #00008B;
}

.btn--add:hover {
    background-color: #00008B;
    color: #fff;
}

.btn--minus {
    color: #FF0000;
}

.btn--minus:hover {
    background-color: #FF0000;
    color: #fff;
}

.amount-area input {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    background-color: inherit;
    border: none;
    width: 6rem;
}

/* 
Hide the up/down arrows styling on input fields. researched via: 
- https://khaalipaper.com/html/remove-arrows-from-input-type-number.php and 
- https://stackoverflow.com/questions/23372903/hide-up-down-arrow-buttons-spinner-in-input-number-firefox-29
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Safari/Chrome, other WebKit */
  appearance: none; /* remainder */
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox, other Gecko */
}

/* ------ betType Buttons */
.bet-area button {
    background-color: #3B3B3F33;
    color: #fff;
    font-weight: bold;
    border: none;
    min-height: 4em;
    min-width: 4em;
    margin: 1em 1em 2em;
    font-size: 1.5rem;
    border-radius: 50%;
    content: attr(data-type);
}

.bet-area button:hover {
    background-color: #00008B;
}

.bet-area button:focus {
    background-color: #ff0;
    color: #00843D;
    transform: scale(1.1);
}

/* ------ Pseudo Selector for coins */
.btn--coin::before {
    content: attr(data-type);
    position: relative;
}

/* ------ Spin Button */
.btn--spin {
    background-color: #3B3B3F40;
    color: #fff;
    border: none;
    border-radius: 1rem;
    height: 20%;
    width: 50%;
    font-weight: 900;
    font-size: 3rem;
}

.btn--spin:focus {
    transition-duration: 0.1s;
}

/* ------ Scores area */
.scores {
    display: inline-block;
    padding: 0 1rem;
}
.operand {
    color: #FF0000;
    border: none;
    background: none;
    max-width: 2rem;
    text-align: right;
    font-size: inherit;
    content: attr(data-type);
    font-family: inherit;
    font-weight: 400;
}

#bank {
    color: #00008B;
}

/* ------ Footer */
footer {
    margin: 1rem 0;
    color: #00843D80;
}

footer > button {
    background: none;
    border: none;
    text-decoration: none;
    color: #3B3B3F80;
    font-weight: inherit;
}

footer > button:hover {
    color: #00843D80;
}

/* ------ Global style for 'popUps' (Modals) */
.popUp {
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #000;
    box-sizing: border-box;
    display: flex;
    height: 75vh;
    width: 85%;
    justify-content: center;
    margin: 0 auto;
    max-height: 480px;
    max-width: 1024px;
    overflow: auto;
    padding: 1rem;
    text-align: center;
}

.popupBtn {
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 0.5rem;
}

/* ------------ Modal specific styles */
/* ------ Winner Alert Modal Css */
#winnerPopup {
    display: none;
    border: silver;
    background: #ff0;
    border-width: 0.25em;
    border-style: groove;
    padding-top: 3em;
}

#winnerPopup h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem 0rem;
}

#winnerPopup h3 {
    margin: 0rem 0rem 0.5rem;
}

#spinAgain {
    background-color: #00843D;
    color: #fff;
    font-weight: 600;
    margin-right: 0.25em;
  }

#winPoints {
    color: #00843D;
    font: inherit;
    text-align: center;
    font-size: 2.5rem;
    min-width: 6rem;
}

#bankBtn {
    background-color: #00008B;
    font-weight: 600;
    color: #fff;
}

/* ------ Kev Wins Alert Modal */
#lossPopup {
    display: none;
}

#lossPopup h2 {
    font-size: 3.5rem;
}

#lossPopup i {
    color: #FF0000;
    padding: 3rem 1rem 0;
}

#lossBtn {
    margin-top: 2rem;
}

/* ------ Game Over Modal */
#gameOverPopup {
    display: none;
    border: silver;
    background: #FF0000;
    border-width: 0.25em;
    border-style: groove;
}

#gameOverPopup h2 {
    color: #fff;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

#gameOverPopup i {
    padding: 2rem 1rem 0;
    color: #ff0;
}

/* ------ Game Win Final Modal */
#gameWinPopup {
    display: none;
    background: #00008B;
    color: #ff0;
    border-style: inset;
    border-width: 1rem;
    border-color: #ff0;
}

#gameWinPopup h2 {
    color: #fff;
    font-size: 2.5rem;
}

#gameWinPopup i {
    margin-top: 1rem;
    color: #ff0;
}

#gameWinPopup img {
    padding-top: 1rem;
    margin-bottom: -2rem;
}
 
#FwRefBtn {
    background-color: #ff0;
    color: #00008B;
}

/* ------ Out of Money Modal */

/* ------ Gameplay Modal */




/* ------------ Betting Coin Animations  */
/* ------ Global coin Animation & Styling */

/* ------ HH & TT Left coin ANIMATION  */

/* ------ HH & TT Right coin ANIMATION */

/* ------ HH & TT Left Coin Spin STYLING */

/* ------ HH & TT Right Coin Spin STYLING */


/* ------ HT Left coin ANIMATION  */

/* ------ HT Right coin ANIMATION  */

/* ------ HT Left Coin Spin STYLING */

/* ------ HT Right Coin Spin STYLING */


/* ------ Error message Styling */

/* ------ Hide spin choice section */

/* ------ Media Queries */